<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Edit Interview</h1>

        <form action="/articles/<%= article.id  %>?_method=PUT" method="POST">

            <div class="form-group">
                <label for="title">Title</label>
                <input required value="<%= article.title  %>"
                type="text" name="title" id="title"
                class="form-control">
            </div>
            <div class="form-group">
                <label for="thumbnail">Thumbnail Link</label>
                <input required value="<%= article.thumbnail  %>"
                type="url" name="thumbnail" id="thumbnail"
                class="form-control" placeholder="Enter image link here">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control"><%= article.description  %></textarea>
            </div>

            <div class="form-group">
                <ul class="list-group" id="contentList">



                </ul>
            </div>

            <a href="/" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
            
        </form>
        <br>
        <div class="form-group">
            <button id="addQuestion" class="btn btn-success">Add Question</button> 
            <button id="addText" class="btn btn-success">Add Answer</button> 
            
            <button id="addImage" type="submit" class="btn btn-info">Add Image</button>
            
        </div>
        

        
    </div>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="/js/new.js"></script>
    <script>
        let text;
        let type;
        let dict;
        <% for(let i = 0; i < article.content.length; i++) { %>
            text = "<%= article.content[i]  %>";
            type = "<%= article.types[i] %>";
            dict = {};
            dict.text = text;
            if (type === 'markdown'){
                dict.html = getMarkdownHtml(text);
            } else if(type === 'question') {
                dict.html = getQuestionHtml(text);
            } else {
                dict.html = getImageHtml(text);
            }
            contentArr.push(dict);
            typeArr.push(type);
        <% } %> 
    saveContent();
    outputContent();
    </script>
</body>
</html>